
<div class="container bg-white w-50 p-3 my-3">
  <h1>Your Bikes</h1>
  <div class="row">

  <% @bookings.each do |booking| %>
    <div class="column">
      <%= cl_image_tag booking.bicycle.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="column border p-5">
      <p><%= booking.user.email %></p>
      <p><%= booking.bicycle.brand %> <%= booking.bicycle.category %> Bike</p>
      <p><%= (booking.end_date - booking.begin_date).to_i %> Days</p>
      <p>Starting: <%= booking.begin_date %></p>
      <p>Ending: <%= booking.end_date %></p>


    </div>

  <% end %>
  </div>
</div>
