
<div class="container bg-white w-50 p-3 my-3">
  <h1>Your Bikes</h1>
  <p>Current Bookings</p>

  <div class="row py-2">
  <% @bookings.each do |booking| %>
    <% if booking.user == current_user && (DateTime.now - booking.end_date).to_i < 0 %>
      <div class="column mx-2">
        <%= cl_image_tag booking.bicycle.photo, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="column border p-5">
        <p><%= booking.user.email %></p>
        <p><%= booking.bicycle.brand %> <%= booking.bicycle.category %> Bike</p>
        <p><%= (booking.end_date - booking.begin_date).to_i %> Days</p>
        <p>Starting: <%= booking.begin_date %></p>
        <p>Ending: <%= booking.end_date %></p>
        <p>$<%= ((booking.end_date - booking.begin_date).to_i) * booking.bicycle.price_per_day %></p>
      </div>
    <% end %>
  <% end %>
  </div>

  <p>Past Bookings</p>
  <div class="row py-2">
    <% @bookings.each do |booking| %>
      <% if booking.user == current_user && (DateTime.now - booking.end_date).to_i > 0 %>
        <div class="column mx-2">
        <%= cl_image_tag booking.bicycle.photo, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="column border p-5">
        <p><%= booking.user.email %></p>
        <p><%= booking.bicycle.brand %> <%= booking.bicycle.category %> Bike</p>
        <p><%= (booking.end_date - booking.begin_date).to_i %> Days</p>
        <p>Starting: <%= booking.begin_date %></p>
        <p>Ending: <%= booking.end_date %></p>
        <div>
          <%= simple_form_for [booking, @review] do |f| %>
            <%= f.input :rating, collection: [0..5] %>
            <%= f.input :content %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
