<div class="container mt-5 p-5 w-65 bg-white">

  <div class="row justify-content-between p-3">
    <div class="col-3">
      <h1><%= @bicycle.brand %></h1>
      <p><i class="fas fa-cog"></i>  <%= @bicycle.category %></p>
      <p><i class="fas fa-map-marker-alt"></i>  <%= @bicycle.address %></p>
      <p><i class="fas fa-money-check-alt"></i>  <%= @bicycle.price_per_day %></p>
      <p><%= @bicycle.description %></p>
      <%= link_to 'Back', bicycles_path, class: "btn btn-outline-success" %>
    </div>
    <div class="col-4">
      <%= cl_image_tag @bicycle.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="col-3">
      <% if policy(Booking.new(bicycle: @bicycle)).create? %>
        <%= simple_form_for [@bicycle, @booking] do |f| %>
          <%= f.input :begin_date, html5: true %>
          <%= f.input :end_date, html5: true %>
          <%= f.submit class: "btn btn-outline-success"%>
        <% end %>
      <% else %>
        <% if policy(@bicycle).edit? %>
        <%= link_to 'Edit', edit_bicycle_path(@bicycle), class: "btn btn-outline-success"  %>
        <% end %>
        <% if policy(@bicycle).destroy? %>
        <%= link_to 'Delete', bicycle_path(@bicycle), class: "btn btn-outline-success", method: :delete, data: { confirm: "Are you sure you want to delete this bicycle?"}  %>
        <% end %>
      <% end %>
    </div>
  </div>


</div>

<% if @reviews.exists? %>
  <div class="container bg-white my-3 p-3">
    <h1>Reviews</h1>
    <% @reviews.each do |review| %>
    <div>
      <% review.rating.to_i.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% (5 - review.rating.to_i).times do %>
        <i class="far fa-star"></i>
      <% end %>


      <%= review.content %>
    </div>
    <% end %>
  </div>
<% end %>
