<div class="outer d-flex justify-content-center align-items-center p-10">

<div class="search-form">
  <div class="card-body">
   <div>
   <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
   </div>
   <div>
    <%= f.input :address, input_html: {value: ""} %>
  </div>
  <div>
    <%= f.input :begin_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit "Search", class: "btn btn-info" %>
    <% end %>

  </div>
  </div>
</div>

  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag "babel.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "adventure.jpg", class: "d-block w-100" %>

      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">

  </div>
</div>



