<div class="outer d-flex justify-content-center align-items-center p-10">

<div class="search-form">
  <div class="card-body">
    <div class="d-flex">
      <%= form_tag bicycles_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a bicycle"
        %>
      <%= submit_tag("Search", class: 'btn btn-primary') %>
      <% end %>
    </div>
  </div>
</div>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
      <h1>Cycle Thru</h1>
      </div>
        <%= image_tag "babel.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
     <div class="carousel-caption">
      <h1>Cycle Thru</h1>
      </div>
      <%= image_tag "adventure.jpg", class: "d-block w-100" %>
    </div>
  </div>
</div>
</div>




